
$couleur_sec:#d94f5c;
.list{
    position: relative;
    box-sizing: border-box;
    line-height: 1.5em;
    margin: 5px 20% 15px 20%;
    padding: 0;
    &__item{
       list-style-type: none; 
        position: relative;
        padding:10px 10px 10px 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        &:hover {
            animation: vibration 1s infinite alternate;
        }
        &__delete{
            float:right;
            background: #FF4742;
            border: 1px solid #FF4742;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
            font-size: 9px;
            font-weight: 800;
            line-height: 8px;
            text-align: center;
            text-rendering: geometricprecision;
            text-transform: none;
            user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            padding: 5px;
            margin-top: 3px;
            &:active {
                background-color: initial;
                background-position: 0 0;
                color: #FF4742;
            }
            &:hover{
                background-color: initial;
                background-position: 0 0;
                color: #FF4742;
            }
        }
    }
    &__item::before{
        content: "";
        position: absolute;
        left: 3px;
        top: 18px;
        height: 5px;
        width: 5px;
        border: 5px solid $couleur_sec;
        border-width: 5px 5px 0 0;
        transform: rotate(45deg); 
    }

}

  @keyframes vibration {
    from {
        margin-left:0px;
        animation-timing-function: cubic-bezier(0.25, 0.01, 0.55, 0.16);
    }
    25% {
        margin-left:5px;
        animation-timing-function: cubic-bezier(0.52, 0.44, 0.47, 0.44);
    }
    50% {
        margin-left:10px;
        animation-timing-function: cubic-bezier(0.53, 0.56, 0.48, 0.56);
    }
    75% {
        margin-left:10px;
        animation-timing-function: cubic-bezier(0.45, 0.84, 0.75, 0.99);
    }
    to{
        margin-left:0px;
        animation-timing-function: cubic-bezier(0.45, 0.84, 0.75, 0.99);  
    }
   
}