<div *ngIf="showForm">
    <app-add-contact (addEvent)="addParentEvent($event)"></app-add-contact> 
</div>

<div *ngIf="contacts[0]?.length > 2; then thenBlock; else elseBlock"> </div>
<ng-template #thenBlock >
    <ul class="list">
        <li class="list__item" *ngFor="let c of contacts[0]">
            <span class="list__item__name">{{c.name}}  :  </span>
            <span class="list__item__phone">{{c.phone}}</span>
        </li>
    </ul>
</ng-template> 
<ng-template #elseBlock >
    <h1>Aucun contact</h1>
</ng-template>

